**/nestedRepo
*.tmp
*.tmpIgnore.*

.DS_Store
.bsp/
/project/boot
target/
lib_managed/
src_managed/
.idea/
.idea_modules/
.bloop/
.metals/

.terraform
.terraform/
.terraform/*
.terraform.*
**/.terraform
**/.terraform/
**/.terraform/*
**/.terraform.*

metals.sbt
project/.bloop/
project/metals.sbt
**/project/project/
project/target
